#wrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: 
            "sidebar header"
            "sidebar main";

}
header {
	background-color: #ffffff;
	grid-area: header;
	flex-direction: row;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: sticky;
	top: 0;
}
#sidebar-grid {
	grid-area: sidebar;
	width: 190px;
	min-width: 190px;
	height: 100%;
}
#sidebar {
	background-color: $sidebar-color;
	min-width: 190px;
	position: fixed;
	height: 100%;
}
#sidebar-short {
	max-width: 50px;
}
main {
	background-color: $bg-color;
	grid-area: main;
	height: 100vh;
}

/*Navigation -Sidebar*/
#sidebar-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	line-height: 60px;
	height: 60px;
	padding: 0 18px;
	img {
		
	}
	#hamburger {
		.hamburger-part {
		    width: 18px;
		    height: 2px;
		    background-color: $dark-gray;
		    margin-top: 6px;
		}
		.hamburger-part:first-of-type {
			margin: 0;
		}
	}
}
#sidebar {
	nav {
		width: 100%;
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li {
				padding-left: 20px;
				height: 40px;
				text-align: left;
				display: flex;
				align-items: center;
				font-size: $paragraph-font-size;
				color: $navbar-font-color;
				i {
					margin-right: 14px;
					font-size: 13px;
				}
				&:hover {
					background-color: #282828;
					border-left: 4px solid $dark-orange;
					padding-left: 16px;
					color: #ffffff;
					cursor: pointer;
					i {
						color: #ffffff;
					}
				}
			}
		}
	}
}