@import "../variables";

button, .btn {
	max-width: 130px;
	max-height: 40px;
	background-color: $dark-gray;
	border: none;
	border-radius: 3px;
	padding: 0 10px;
	&:hover {
		background-color: #bababa;
		cursor: pointer;
	}
}
.btn-warning {
	background-color: $dark-orange;
	i {
		color: #ffffff;
	}
	&:hover {
		background-color: $yellow-color;
		i {
			color: $dark-gray;
		}
	}
}
.btn-sm {
	width: 41px;
}

.btn-link {
	margin: 23px auto;
}